<h2>My Recipes</h2>
<p>
	<button (click)="gotoForm()">Add</button>
</p>
<ul class="recipes">
	<li *ngFor="let recipe of recipes"
		[class.selected]="recipe === selectedRecipe"
		(click)="onSelect(recipe)">
		<span class="text">{{recipe.name}}</span>
		<button class="delete"
			(click)="delete(recipe); $event.stopPropagation()">
			x
		</button>
	</li>
</ul>
<div *ngIf="selectedRecipe">
	<h2>
		Recipe for {{selectedRecipe.name | uppercase}}
	</h2>
	<button (click)="gotoDetail()">View Details</button>
</div>
