<h2>My recipes</h2>
<p>
	<button (click)="gotoForm()">Add</button>
</p>
<ul class="recipes">
	<li *ngFor="let recipe of recipes"
		[class.selected]="recipe === selectedRecipe"
		(click)="onSelect(recipe)">
		<span class="text">{{recipe.name}}</span>
		<button class="delete"
			(click)="delete(recipe); $event.stopPropagation()">
			x
		</button>
	</li>
</ul>
<div *ngIf="selectedRecipe">
	<h2>
		Recipe for {{selectedRecipe.name}}
	</h2>
	<h3>Ingredients:</h3>
	<ul>
		<li *ngFor="let ingredient of selectedRecipe.ingredients">
			{{ingredient}}
		</li>
	</ul>
	<h3>Directions:</h3>
	<ol>
		<li *ngFor="let direction of selectedRecipe.directions">
			{{direction}}
		</li>
	</ol>
	<button (click)="gotoDetail()">Edit</button>
	<button (click)="delete(recipe)">Delete</button>
</div>
