@media only screen and (max-width: 767px) {
	h1 { font-size: 2em; }
	h2 { font-size: 1.5em; }
	h3 { font-size: 1.17em; }
	h4 { font-size: 1em; }
	h5 { font-size: .83em; }
	h6 { font-size: .67em; }
	body { font-size: calc(2*1em); }
	.btn {
		font-size: 1em;
		padding:4px 6px;
	}
}
@media only screen and (min-width: 768px) {
	h1 { font-size: 2em; }
	h2 { font-size: 1.5em; }
	h3 { font-size: 1.17em; }
	h4 { font-size: 1em; }
	h5 { font-size: .83em; }
	h6 { font-size: .67em; }
	body { font-size: calc(1.25*1em); }
	.btn {
		font-size: 1em;
		padding:6px 12px;
	}
}
@media only screen and (min-width: 992px) {
	h1 { font-size: 2em; }
	h2 { font-size: 1.5em; }
	h3 { font-size: 1.17em; }
	h4 { font-size: 1em; }
	h5 { font-size: .83em; }
	h6 { font-size: .67em; }
	body { font-size: calc(1*1em); }
	.btn {
		font-size: 1em;
		padding:8px 12px;
	}
}
@media only screen and (min-width: 1200px) {
	h1 { font-size: calc(1*2em); }
	h2 { font-size: calc(1*1.5em); }
	h3 { font-size: calc(1*1.17em); }
	h4 { font-size: calc(1*1em); }
	h5 { font-size: calc(1*.83em); }
	h6 { font-size: calc(1*.67em); }
	body { font-size: calc(0.75*1em); }
	.btn {
		font-size: 1em;
		padding:10px 16px;
	}
}

html { font-size: 1.5vw; }

body {
	padding-top: 70px;
	padding-bottom: 35px;
}

#nav-links { font-size: 16px; }
